<!-- === Impact Chapter CSS ===
     ==========================
Use # (which is for "id" html attribute) for addressing SINGLE elements.
Use . (which is for "class" html attribute) for addressing GROUPS of elements.
-->

<!--code from w3schools site for layout-->
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
<!--end code from w3schools site-->


body {background-color:lightgrey;}

a:link {
	color:#000000;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color:#ff0000;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: blue;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color:#ff0000;
	background-color: transparent;
	text-decoration: underline;
}

<!--area is useful within 'map' tag-->
area {}

dl {}

div {
	background-color: black;
	color: white;
	padding: 20px;
}

<!-- example of an html class-->
div.ministry-partner {
	background-color: white;
	color: black;
	padding: 50px;
	border: 1px solid black;
	font-family:sans-serif;
	font-size: 100%;
}

div.verse {
	background-color: black;
	color: white;
	padding: 30px;
	font-family:sans-serif;
	font-size: 70%;
}

span.verse-number {
	vertical-align: super;
    font-size: smaller;
}

img.logo {
	float: left;
	width: 140px;
	height: 100px;
	border: 1px solid black;
}

map {}

ol {
	list-style-type: 1; /*other options are 'A', 'a', 'I', 'i'.*/
}

p {
	font-family:sans-serif;
	font-size: 100%;
	color:black;
	border: 0px solid gray;
	padding: 0px;
	margin: 0px;
}

p.campus-description {
	font-family:sans-serif;
	font-size: 90%;
	color:black;
	border: 0px solid gray;
	padding: 10px;
	margin: 15px;
}

p#frontpage {
	font-family:sans-serif;
	font-size: 100%;
	color:black;
	border: 0px solid gray;
	padding: 10px;
	margin: 15px;
}

p#typed {
	font-family:courier;
	font-size: 90%;
	color:black;
	border: 1px solid black;
	padding: 10px;
	margin: 15px;
}

p.verse {
	color:black;
	border: 1px solid black;
	padding: 10px;
	margin: 15px;
}

span.verse {
	font-family:sans-serif;
	font-style: normal;
	font-size: 80%;
	color:black;
	border: 0px solid black;
	padding: 0px;
	margin: 0px;
}

span.verse_index {
	font-family:sans-serif;
	font-style: italic;
	font-size: 90%;
	color:black;
	border: 0px solid black;
	padding: 0px;
	margin: 0px;
}

span.verse_title {
	font-family:sans-serif;
	font-style: normal;
	font-size: 100%;
	font-weight: bold;
	color:black;
	border: 0px solid black;
	padding: 0px;
	margin: 0px;
}

/*Reference: http://www.w3schools.com/html/html_tables.asp*/
table {
	border: 1px solid black;
	border-collapse: collapse; /*default is 'double border'.*/
	border-spacing: 2px; /*no effect on collapse border.*/
	width: 100%
}

td {
	border: 1px solid black;
	padding: 10px;
}

th {
	border: 1px solid black;
	padding: 5px;
	font-family:sans-serif;
	font-style: bold;
	text-align: left; /*default is 'center'.*/
}

tr {
	border: 1px solid black;
}

ul {
	list-style-type: circle; /*default is 'bullets' (and there is 'square' and 'none').*/
}

ul.menu_horizontal {
	padding: 0;
}

ul.menu_horizontal li {
	display: inline; /*display horizontal list.*/
}

ul.menu_horizontal li a {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px 4px 0 0;
}

ul.menu_horizontal li a:hover{
	background-color: white;
	color: blue;
	border-radius: 4px 4px 0 0;
	border: 1px solid blue;
}