<!DOCTYPE html>
<html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Cool Demo Examples http://www.w3schools.com/w3css/w3css_demo.asp-->
  <!--link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"-->
  <link rel="stylesheet" href="css/w3.css">
  <body>


<div class="w3-row w3-border">
  <div class="w3-quarter w3-container w3-border w3-blue"><h2>Home</h2></div>
  <div class="w3-quarter w3-container w3-blue"><h2>News</h2></div>
  <div class="w3-quarter w3-container w3-blue"><h2>Events</h2></div>
  <div class="w3-quarter w3-container w3-blue"><h2>Contact</h2></div>
</div>

  <header class="w3-container w3-blue-grey">
    <h1>Impact-ful Churches</h1>
  </header>

<div class="w3-topnav w3-red">
  <a href="#dc-churches">DC</a>
  <a href="#md-churches">Maryland</a>
  <a href="#va-churches">Virginia</a>
  <a href="#na-churches">Non-DMV</a>
</div>
           
<div class="w3-tab">
  <div id="dc-churches" class="w3-container">
    <h2>Churches in Washington, DC</h2>
    <p>Washington, DC is the capital of the United States.</p>
    <p>Since Howard University is in Washington, D.C., we strongly encourage our
    local churches to get involved with us and be a blessing to us.</p>
    <h4>Churches</h4>
    <ul class="w3-ul w3-card-4">
      <li>Grace Mosaic of Grace DC</li>
      <li>Grace Covenant</li>
      <li>Northwest Community</li>
    </ul>
  </div>
  <div id="md-churches" class="w3-container">
    <h2>Churches in Maryland</h2>
    <p>Maryland wraps around the north side of Washington, D.C.</p> 
    <p>Although Howard University is near but not in Maryland, we are so appreciative
     of the extra effort our of partnering churches in Maryland.</p>
  </div>
  <div id="va-churches" class="w3-container">
    <h2>Churches in Virginia</h2>
    <p>Virginia wraps around the south side of Washington, D.C.</p> 
    <p>Although Howard University is near but not in Virginia, we are so appreciative
     of the extra effort our of partnering churches in Virginia.</p>
  </div>
  <div id="na-churches" class="w3-container">
    <h2>Churches outside the DMV</h2>
    <p>DMV stands for DC, Maryland, and Virginia.</p> 
    <p>Although we, at Howard University, don't expect church parternships outside the DMV,
     we are impressed and overwhelmed with the love of our partnering churches outside of the DMV.
     Thank you so, so much.</p>
  </div>
</div>

  <footer class="w3-container w3-blue-grey w3-text-light-grey w3-center w3-margin-top">
    <p>
      While using this site, you agree to have read and accepted our 
      <a href="http://impactmovement.org/terms-of-use/" target="_blank">Terms of Use</a> 
      and 
      <a href="http://impactmovement.org/privacy-policy/" target="_blank">Privacy Policy</a>.
      <br/>Copyright 2015-2016 by The Impact Movement. All Rights Reserved.
    </p>
  </footer>

  <script src="http://www.w3schools.com/lib/w3codecolors.js"></script>

  </body>
</html> 
