<!DOCTYPE html>
<html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Cool Demo Examples http://www.w3schools.com/w3css/w3css_demo.asp-->
  <!--link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"-->
  <link rel="stylesheet" href="css/w3.css">
  <body>

  <header class="w3-container w3-red">
    <h1>/-/Ac|<3rZ!</h1>
  </header>

<section>
  <div class="w3-blockquote w3-center w3-light-grey">
    <a href="https://www.biblegateway.com/passage/?search=Matthew+28%3A19&version=ESV" target="_blank">
      <p>There are a thousand hacking at the branches of evil to one who is striking at the root.
       - Henry David Thoreau</p>
      <!--p>My primary goal of hacking was intellectual curiosity, the seduction of adventure.
       - Kevin Mitnick</p-->
    </a>
  </div>
</section>

<article>
  <div class="w3-container w3-center w3-card-2">
  <img src="img/TheFutureWontWait.png" alt="XQ-Super-School" style="width:80%">
  <!--img src="img/Coder-Burned-Out.png" alt="Coder-Burned-Out-From-Hacking-Overload" style="width:100%"-->
  <div>
  <div class="w3-container">
    <p>
      We no longer can wait on the public education system to change. Depending on 
      governments to update how we educate our people, specifically our children,
      is hindering our society from gaining the quality of life once promised to our
      grandparents. We must now take this matter into our own hands. We must create
      our own schools. Schools that operate no longer like a factory, but like mini
      -colleges - empowering each individual to explore their gifts and sharpen their
      skills. We must create our Super Schools.
    </p>    
  </div>
<article>

<section>
    <table class="w3-table w3-bordered w3-striped w3-hoverable w3-card-4">
      <thead class="w3-grey">
        <tr>
          <th>Students Studying</th>
          <th>Job Openings</th>
          <th>Employment Probability</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Art</td>
          <td>Painters</td>
          <td>5%</td>
        </tr>
        <tr>
          <td>Divinity</td>
          <td>Pastors</td>
          <td>14%</td>
        </tr>
        <tr>
          <td>Computer Science</td>
          <td>Software Programming</td>
          <td>96%</td>
        </tr>
      </tbody>
    </table>
</section>

  <section class="w3-row-padding w3-margin-top">
    <div class="w3-example"> 
</div>

    <div class="w3-half">
      <div class="w3-card-2">
      <!--Add other Coding Examples
      http://www.w3schools.com/w3css/w3css_containers.asp#JavaScript
      -->
        <h4>Learn to Hack</h4>
        <div class="w3-code htmlHigh notranslate">
          &lt;!DOCTYPE html&gt;<br>
          &lt;html&gt;<br>
          &lt;title&gt;HTML Example&lt;/title&gt;<br>
          &lt;body&gt;<br><br>
          &lt;h1&gt;Start with the easiest code to learn.&lt;/h1&gt;<br>
          &lt;p&gt;All HTML code is displayed within a browser.&lt;/p&gt;<br><br>
          &lt;/body&gt;<br>
          &lt;/html&gt;
        </div>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-card-2">
        <img src="img/typewriting.jpg" alt="Typewriting" style="width:100%">
        <div class="w3-container">
          <p>This should be a frame with the actual HTML code display.</p>
          <p>HTML is the most commonly used langauge because of the exploding
            use of web application over the Internet. HTML stands for HyperText
            Markup Language.</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="w3-container w3-blue-grey w3-text-light-grey w3-center w3-margin-top">
    <p>
      While using this site, you agree to have read and accepted our 
      <a href="http://impactmovement.org/terms-of-use/" target="_blank">Terms of Use</a> 
      and 
      <a href="http://impactmovement.org/privacy-policy/" target="_blank">Privacy Policy</a>.
      <br/>Copyright 2015-2016 by The Impact Movement. All Rights Reserved.
    </p>
  </footer>

  <script src="http://www.w3schools.com/lib/w3codecolors.js"></script>
  
  </body>
</html> 
