<html>
  <head>
    <title>Impact CSS</title>
    <!-- CSS -->
    <!--*if selectors in multiple style sheets, then value from the last read stylesheet will be used.-->
    <!--*always include external stylesheet first, internal style sheet <style> next, inline style overrides all.-->
    <link rel="stylesheet" type="text/css" href="air.css" />
    <link rel="stylesheet" type="text/css" href="navigation.css" />
    <link rel="stylesheet" type="text/css" href="form.css" />
  </head>
  <body>
    <div class="navigation-bar">
      <!--ul class="fixed" doesnt work on dropdown menus?-->
      <ul>
        <li class="float-left"><a class="active" href="main.html">Home</a></li>
        <li class="float-left"><a href="#news">the-411</a></li>
        <li class="float-left"><a href="#contact">Connect</a></li>
        <li class="float-right left-border"><a href="#login">Sign In</a></li>
        <li class="float-right"><a href="#goals">Our Actions</a></li>
        <li class="float-right"><a href="#purpose">Our Purpose</a></li>
        <li class="float-right dropdown">
          <a href="#about" class="dropdown-button">Our Identity</a>
          <div class="dropdown-content">
            <a href="#">Mission</a>
            <a href="#">Vision</a>
            <a href="#">Values</a>
            <a href="leaders.html">Leaders</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="login form">
      <div class="form-header">
        <div class="form-title">Sign In</div>
      </div>
      <div class="form-body">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="Email"></input> 
        <label for="password">Password</label>
        <input type="text" id="password" name="password" value="Password"></input>
        <input type="submit" value="Sign In"></input>
      </div>
      <div class="form-footer">
        <p class="form-disclaimer">
          By logging into and using this application, you are agreeing to give us full permission 
          to use any data that you enter, use, or observe with this application and connected softwares.
        </p>
      </div>      
    </div>
  </body>
</html>