<html>
<body>
<p>
Css box-sizing
On all elements

Css Flex box
Similar to my use of panels?

Css Transition 
Cool to go from a Bible page to another page. Even for a photo gallery.

Css Animation 
This would be cool for having a globe or flying flag.

Css Media
For certain display adjustments on specific devices or screen size.
HTML5 data- attribute
</p>
<p>Learn correct file naming conventions @ https://library.stanford.edu/research/data-management-services/data-best-practices/best-practices-file-naming</p>
</body>
</html>